 .App {
  text-align: center;
}

.header-container { 
  width: 1280px;
  height: 832px;
  gap: 0px;
  opacity: 0px;
  position: relative;
  margin: 0 auto; 
  border: 5px solid black;
}

header {
  background-color: #3B3B3B;
  color: #fff;
  padding: 20px 0;
  position: relative;
  top: 30px;
  left: 12px;
  width: 1256px;
  height: 750px;
  text-align: left;
  border: 1px solid #fff;
  border-radius: 20px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #3B3B3B;
  margin: 30px 80px 15px 5px;
  position: absolute;
  width: 1211px;
  height: 670px;
  border: 1px;
  top: 440.97px;
  left: 850px;
  transform: translate(-50%, -50%);
}

.dots {
  position: absolute;
  top: 20px;
  left: 45px;
  transform: translate(-50%, -50%);
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.red {
  background-color: #CC2323;
}

.orange {
  background-color: #F4BB4A;
}

.green {
  background-color: #48A14D;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  height: 269px;
  top: 250px;
  left: 32px;
  gap: 0px;
  border: 1px solid #ccc;
  border-radius: 10px;
  opacity: 0px;
  background-color: #626262;
  padding: 10px;
  margin: -10px;
}

.summary-container {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  height: 345px;
  top: 260px;
  left: 32px;
  gap: 0px;
  border: 1px solid #ccc;
  border-radius: 10px;
  opacity: 0px;
  background-color: #626262;
}

.wallet-info {
  width: 355.41px;
  height: 181px;
  border-radius: 15px;
  opacity: 0px;
  top: 140;
  background-color: #9B9B9B;
  margin: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.expense-info {
  width: 355.41px;
  height: 181px;
  border-radius: 15px;
  opacity: 0px;
  background-color: #9B9B9B;
  margin: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.pie-chart-container {
  width: 355.41px;
  height: 181px;
  border-radius: 15px;
  opacity: 0px;
}

.wallet-info,
.expense-info {
  border: 1px solid #ccc;
  margin-right: 20px;
}

.pie-chart-container {
  margin-right: 0;
}

button {
  padding: 10px 20px;
  border: none;
  width: 167px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.add-income-button {
  background: linear-gradient(to right, #B5DC52, #89E148);
  color: #fff;
}

.add-expense-button {
  background: linear-gradient(to right, #FF9595, #FF4747, #FF3838);
  color: #fff;
}

button:hover {
  background-color: burlywood;
}

.chart-labels {
  display: flex;
  justify-content: space-between;
}

.recent-transactions-container {
  width: 738.33px;
  height: 345px;
  border-radius: 15px;
  opacity: 0px;
  background-color: #FFFFFF;
}

.transaction {
  border-bottom: 1px solid #9B9B9B;
  margin-top: 0px;
}

.transaction {
  display: flex;
  justify-content: space-between;
}

.transaction-left {
  display: flex;
  flex-direction: column;
}

.transaction-right {
  text-align: right;
}


.top-expenses-container {
  width: 417px;
  height: 345px;
  border-radius: 15px;
  opacity: 0px;
  background-color: #FFFFFF;
}

.bar-chart {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.expense-bar {
  height: 30px;
  background-color: #3B3B3B;
  margin-bottom: 5px;
  border-radius: 0px , 20px , 20px , 0px ;
  transition: width 0.5s ease;
}

.expense-bar p {
  margin: 0px;
  color: white;
}

.expense-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 0px;
   position: relative;
  left: 5px; 
}

.expense-labels p {
  margin: 10px;
}

.entertainment {
  background-color:  #8784D2;
  margin-left: 120px;
}


.food {
  background-color: #8784D2;
  margin-top: 50px;
  margin-left: 120px;
}

.travel {
  background-color: #8784D2;
  margin-left: 120px;
  margin-top: 50px;
}

.small-boxfood {
  width: 26px;
  height: 8px;
  background-color: #A000FF; 
  display: inline-block;
  margin-right: 5px; 
}

.small-boxentertain {
  width: 26px;
  height: 8px;
  background-color: #FF9304; 
  display: inline-block;
  margin-right: 5px; 
}

.small-boxtravel {
  width: 26px;
  height: 8px;
  background-color: #FDE006; 
  display: inline-block;
  margin-right: 5px; 
}

.wallet-info h1:first-child,
.expense-info h1:first-child {
  color: white;
}

@media only screen and (max-width: 768px) {
  .wallet-info, .expense-info, .pie-chart-container, .recent-transactions-container, .top-expenses-container {
    width: 100%;
  }
}
